
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Tookit/bootstrap/css/css")
    @Scripts.Render("~/Scripts/Js")
    @Scripts.Render("~/Tookit/bootstrap/Js/Js")
</head>
<body>
    @RenderBody()
</body>
</html>
