@model Menu
@using (Html.BeginForm("Mody_Op", "FunMenu", FormMethod.Post, new { @id = "fm", @class = "form-horizontal", role = "form" }))
{
   @Html.HiddenFor(p=>p.ID)
    <div class="form-group">
        <label class="col-sm-3 control-label">功能ID</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.FuncID, new { @class = "form-control", checktype = "required", requiredmessage = "*" })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">父功能ID</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.ParentID, new { @class = "form-control", checktype = "required", requiredmessage = "*" })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">功能名称</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.FuncName, new { @class = "form-control", checktype = "required", requiredmessage = "*" })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">功能描述</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.FuncDes, new { @class = "form-control", checktype = "required", requiredmessage = "*" })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">菜单or功能</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.FuncType, new { @class = "form-control", checktype = "required", requiredmessage = "*" })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">功能层级</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.FuncLevel, new { @class = "form-control", checktype = "required", requiredmessage = "*" })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">排序</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.OrderNo, new { @class = "form-control", checktype = "required", requiredmessage = "*" })
        
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Target</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.Target, new { @class = "form-control", checktype = "required", requiredmessage = "*",Value= "_self", @readonly="true"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">目标地址</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.TargetUrl, new { @class = "form-control", checktype = "required", requiredmessage = "*" })

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">系统标识</label>
        <div class="col-sm-6">
            @Html.TextBoxFor(p => p.SysLogo, new { @class = "form-control", checktype = "required", requiredmessage = "*",Value="Live" })

        </div>
    </div>
 
}
