@model IEnumerable<UserRole>
<a class="btn btn-sm btn-primary" href="javascript:AddOp();">
    <i class="icon-plus"></i>
    添加
</a>
<a class="btn btn-sm btn-primary pull-right" href="javascript:search();">
    <i class="icon-search"></i>
    搜索
</a>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
                            <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Code)</th>
                                <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
                                <th>@Html.DisplayNameFor(model => model.States)</th>
                                <th>@Html.DisplayNameFor(model => model.StatesDate)</th>
                                    <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
        {
            <tr>
                <td colspan="10" style="text-align: center; font-size: 16px; color: red;">暂无数据</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {

                <tr>
                                            <td> @Html.DisplayFor(modelItem => item.ID)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Name)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Code)</td>
                                                <td> @Html.DisplayFor(modelItem => item.IsAdmin)</td>
                                                <td> @Html.DisplayFor(modelItem => item.States)</td>
                                                <td> @Html.DisplayFor(modelItem => item.StatesDate)</td>
                                                    <td>
                                <a href="javascript:ModyOp('@item.ID')" title="修改" data-toggle="tooltip" data-placement="top">
                                    <i class="icon-pencil"> </i>
                                </a>
                                <a href="javascript:DeleteOp('@item.ID')" title="删除" data-toggle="tooltip" data-placement="top">
                                    <i class="icon-remove"> </i>
                                </a>

                            </td>
                </tr>
            }
        }
    </tbody>
</table>         
@Html.Partial("_Pager") 
@Html.Partial("_Datepicker")
@Html.Partial("_Dialog")
<script type="text/javascript">
    function AddOp() {
        $("#dvFm").load("@Url.Action("GetOp")", { date: new Date().getTime() }, function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").text("增加");
            $('#fm').validation();
        });
    }
    function ModyOp(id) {
        $("#dvFm").load("@Url.Action("GetOp")", { id: id, date: new Date().getTime() }, function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").text("修改");
            $('#fm').validation();
        });
    }
    function DeleteOp(id) {
        layer.confirm("确定删除?", function () {
            $.post("@Url.Action("DeleteOp")", { id: id, date: new Date().getTime() }, function (result) {
                if (result.r) {
                    layer.msg("删除成功");
                    window.location.reload();
                }
                else {
                    layer.msg("删除失败");
                }
            })
        })
    }
    function search() {
        var param = {
		  startT: "@ViewBag.startT",
            endT: "@ViewBag.endT",
            sn: "@ViewBag.sn",
            Date: new Date().getTime()
        };
        $("#dvFm").load("@Url.Action("LoadSearch")", param, function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").text("搜索");
            $('#fm').validation();
            $("#hideType").val("0");
        });
    }
</script>



 