@*最近联系人*@
@using Edu.Tools
@model IEnumerable<Edu.Models.Models.UserViewWeb>
@{

    <ul id="divUserListRecent">
        <!--通知 永远放在第一位-->
        <li class="tab-li" onclick="Chat(this)" data-id='groupMsg' data-connid="">
            <div>
                <a href="javascript:void(0);" class="mr10 float-l">
                    <img src="@(BaseUrl.Url+"/Content/Images/wx.jpg")" class="head-ssimg" />
                    <i id="groupIcon" class="after-circle displaynone">0</i>
                </a>
                <div class="tab-li-div">
                    <p>群通知</p>
                    <p id="groupMsg">暂无相关通知</p>
                </div>
            </div>
        </li>
        @if (Model != null && Model.Any())
        {
            var count = 0;
            var countClass = "";
            foreach (var user in Model)
            {
                countClass = "after-circle";
                count = user.UnreadMsgCount;
                if (count > 99)
                {
                    count = 99;
                }
                if (count == 0)
                {
                    countClass = "after-circle displaynone";
                }
                <li class="tab-li" onclick="Chat(this)" data-id='@user.UserId' data-connid="@user.Connid">
                    <div>
                        <a href="javascript:void(0);" class="mr10 float-l">
                            <img src="@user.Logo" class="head-ssimg" />
                            <i class="@countClass">@count</i>
                        </a>
                        <div class="tab-li-div">
                            <p title="@user.RealName">@user.RealName</p>
                            <p title="@user.Department">@user.Department</p>
                            @{
                                if (user.Connid != "")
                                {
                                    <span class="tab-status"></span>
                                }
                                else
                                {
                                    <span class="tab-status tab-status-no"></span>
                                }
                            }
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
}
