@*我的群组列表*@
@model List<Edu.Models.Models.GroupViewNew>
@{
    if (Model != null && Model.Any())
    {
        var count = 0;
        var countClass = "";
        foreach (var item in Model)
        {
            var logo = BaseUrl.Url + "/Content/Images/group.png";
            if (!string.IsNullOrEmpty(item.Logo))
            {
                logo = item.Logo;
            }
            countClass = "after-circle";
            count = item.UnreadMsgCount;
            if (count > 99)
            {
                count = 99;
            }
            if (count == 0)
            {
                countClass = "after-circle displaynone";
            }
            <li class="tab-li" onclick="GroupChatBySearch(this)" data-id="@item.ID" data-groupname="@item.Name">
                <div>
                    <a href="javascript:void(0);" class="mr10 float-l posr">
                        <img src="@logo" class="head-ssimg" />
                        <i class="@countClass">@count</i>
                    </a>
                    <div class="tab-li-div">
                        <p title="@item.Name">@item.Name</p>
                    </div>
                </div>
            </li>
        }
    }
    else
    {
    }
}