@using Edu.Tools
@model UserInfo
<link type="text/css" href="~/Content/Web/css/group.css" rel="stylesheet" />
<script src="~/Content/Web/fonts/iconfont.js"></script>
<link href="~/Content/CropAvatar/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CropAvatar/css/cropper.min.css" rel="stylesheet" />
<link href="~/Content/CropAvatar/css/main.css" rel="stylesheet" />
<script src="~/Content/CropAvatar/js/jquery.min.js"></script>
<script src="~/Content/CropAvatar/js/bootstrap.min.js"></script>
<script src="~/Content/CropAvatar/js/cropper.min.js"></script>
<script src="~/Content/CropAvatar/js/main.js"></script>
<div id="app" v-loading="loading" element-loading-text="拼命加载中">
    <el-scrollbar class="group-dialog" style="height: 100%">
        <div class="dialog-con">
            <el-form label-width="100px" :rules="rules" ref="ruleForm" :model="ruleForm">
                <el-form-item label="群组名称：" prop="gname">
                    <el-input placeholder="50字以内" id="gname" name="gname" v-model.trim="ruleForm.gname"></el-input>
                </el-form-item>
                <el-form-item label="群组说明：">
                    <el-input type="textarea" placeholder="500字以内" id="gdes" v-model="ruleForm.gdes"></el-input>
                </el-form-item>
                <el-form-item label="群组管理员：">
                    <span class="mr20">
                        <img class="head-simg mr10 vam" src="@Model.Photo" />@Model.TrueName
                    </span>
                </el-form-item>
                <el-form-item label="群组成员：" class="check-mem" required>
                    <i class="iconfont icon-addT" id="addPersonBtn" @@click="show()"></i>
                    <ul id="memberListUl" class="posr"></ul>
                    <el-input class="min-input" style="display: none;" id="glist"></el-input>
                </el-form-item>

                <el-form-item label="群组头像：" prop="grouplogo">
                    <span class="head-upload">
                        <img class="head-limg" id="groupImg" src="@(ConfigHelper.GetConfigString("IMWebApiGroupPic") + "0")">
                        <span class="hu-txt" id="grouplogo">
                            <svg aria-hidden="true" class="icon">
                                <use xlink:href="#icon-upHeadImg"></use>
                            </svg>
                            <span>上传新照片</span>
                        </span>
                    </span>
                </el-form-item>
            </el-form>
            <div class="el-dialog__footer">
                <span class="dialog-footer">
                    <button type="button" id="submitBtn" class="el-button el-button--primary">
                        <span>确 定</span>
                    </button>
                    <button type="button" id="cancelBtn" class="el-button el-button--default">
                        <span>取 消</span>
                    </button>
                </span>
            </div>
        </div>
        
    </el-scrollbar>
    <check-members ref="members"
                   :props="defaultProps"
                   :empty-text="emptyText"
                   :radio="radio"
                   :expanded="expanded"
                   :title="title"
                   :append-to-body="true"
                   :disabled-list="disabledList"
                   @@confirm="confirm"></check-members>
</div>
<div class="container" id="crop-avatar">
   
    <!-- Cropping modal -->
    <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form class="avatar-form" action="" enctype="multipart/form-data" method="post">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title" id="avatar-modal-label">更换头像</h4>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-body">

                            <!-- Upload image and data -->
                            <div class="avatar-upload">
                                <input class="avatar-src" name="avatar_src" type="hidden">
                                <input class="avatar-data" name="avatar_data" type="hidden">
                                <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                            </div>

                            <!-- Crop and preview -->
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="avatar-wrapper" id="preview"></div>
                                </div>
                                <div class="col-md-3" style="display: none;">
                                    <div class="avatar-preview preview-lg"></div>
                                    <div class="avatar-preview preview-md"></div>
                                    <div class="avatar-preview preview-sm"></div>
                                </div>
                            </div>

                            <div class="row avatar-btns">
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block avatar-save" id="groupLogoBtn">确定</a>
                                </div>
                                <div class="col-md-9" style="display: none;">
                                    <div class="btn-group">
                                        <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                        <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                      <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    </div> -->
                </form>
            </div>
        </div>
    </div><!-- /.modal -->
    <!-- Loading state -->
    <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
</div>
<script src="~/Scripts/check-members.min.js"></script>
<script>
    //改变下父级的样式
    parent.$('#groupeditlayer').css("padding-left", "10px");
    parent.$('#groupeditlayer').css("padding-right", "10px");
    var memberList = "";
    var grouplogo = "";
    var vm = new Vue({
        el: '#app',
        components: {
            CheckMembers: CheckMembers
        },
        data: function () {
            return {
                ruleForm: {
                    gname: '', gdes:'',
                },
                loading: true,
                visible: false,
                emptyText: '暂无数据',
                defaultProps: {
                    realName: 'RealName', // key固定value为传入数据的用户名字段
                    userId: 'id', // key固定value为传入数据的用户id字段
                    pId: 'pid', // key固定value为传入数据的用户父id字段
                    logo: 'icon', // key固定value为传入数据的图标字段
                    department: 'department', // key固定value为传入数据的部门字段
                    type: 'type', // key固定value为传入数据的类型字段
                    userType: 0,
                    // key固定value为用户类型
                },
                title: '选择成员', //弹窗标题
                radio: false, // 是否单选
                expanded: false, // 是否默认展开
                allMember: [],
                members: [], //已经选中的成员
                rules: {
                    gname: [
                      { required: true, message: '请输入群组名称', trigger: 'blur' },
                      { min: 3, max: 50, message: '长度在 3 到 50 个字符', trigger: 'blur' }
                    ],
                },
            }
        },
        computed: {
            disabledList: function () {
                return [];
            }
        },
        created: function () {
            this.getgroupmembers();
            var self = this;
            window.SetMember = function (list) {
                memberList = list;
                $("#memberListUl").empty();
                $("#memberListUl").removeClass("mem-con-max");
                $("#memberListUl").load("@Url.Action("GetMemberInfo", "Main",new {area=""})", { uids: memberList }, function (result) {
                    self.loading = false;
                });
            }
            window.deleteMember = function(index) {
                self.members.splice(index, 1);
            };

            window.setGroupLogo = function(url) {
                grouplogo = url;
                $("#groupImg").attr("src", url);
            }

        },
        methods: {
            confirm: function (mems) {
                this.members = mems.slice(0);
                //console.log(this.members);

                //点击确定后的回调
                this.loading = true;
                var ids = "";
                var names = "";
                var imgs = new Array();
                //现将自己的头像加入
                imgs.push("@(ConfigHelper.GetConfigString("sso_host_name") + "pic/"+LoginUserService.ssoUserID)");
                $.each(mems, function (index, value) {
                    if (value.id !== "@LoginUserService.ssoUserID") {
                        ids += value.id + ";";
                        names += value.RealName + ";";
                        imgs.push("@(ConfigHelper.GetConfigString("sso_host_name") + "pic/")" + value.id);
                    }
                });
                SetMember(ids);
            },
            show: function () {
                var list = [{
                    data: this.allMember.slice(0),
                    expanded: true,
                    isTree: true,
                    name: '机构成员'
                }];
                var members = this.members.slice(0);

                this.$refs.members.show({
                    list: list,
                    members: members
                });
            },
            getgroupmembers: function () {
                var self = this;
                //获取所有成员，为弹窗做准备
                //$.post("/im/Main/GetOrgMembers", {}, function (result) {
                //    self.allMember = result.members;
                //    self.loading = false;
                //});

                $.post("@Url.Action("GetAllMembers", "Main")", {}, function (result) {
                    if (result != null) {
                        self.allMember = result.members;
                        self.loading = false;
                    }
                });
            }
        }
    });


    $(function () {
        var index = parent.layer.getFrameIndex(window.name);
        $("#cancelBtn").click(function () {
            parent.layer.close(index);
        });
        //展开收起
        $(document).on('click', '.link03', function () {
            if ($(".link03").hasClass("icon-down")) {
                $("#memberListUl").addClass("mem-con-max");
                $(".link03").removeClass("icon-down").addClass("icon-up");
            } else {
                $("#memberListUl").removeClass("mem-con-max");
                $(".link03").removeClass("icon-up").addClass("icon-down");
            }
        });
        $("#submitBtn").click(function () {
            var gname = $.trim($("#gname").val());
            var gdes = $.trim($("#gdes").val());
            var glist = memberList;
            if (gname === "") {
                layer.msg("群组名称不能为空");
                $("#gname").focus();
                return;
            }
            if (gname.length > 50) {
                layer.msg("群组名称长度不能够大于50个字符");
                $("#gname").focus();
                return;
            }
            if (gdes.length > 500) {
                layer.msg("群组说明长度不能够大于500个字符");
                $("#gdes").focus();
                return;
            }
            if (glist === "") {
                layer.msg("群组成员不能为空");
                return;
            }
            if ((glist.split(";").length - 1) > 200) {
                layer.msg("群组成员个数不能超过200个");
                return;
            }
            var load = layer.load();


            $.post("@Url.Action("CreateChatGroup", "Main",new {area=""})", { groupname: gname, groupdes: gdes, uid: "@LoginUserService.ssoUserID", glist: glist, grouplogo: grouplogo, gtype: 1 }, function (result) {
                if (result.r) {
                    parent.layer.msg("创建成功", { time: 2000 });
                    var ele = window.parent.document.getElementById("okcsim");
                    if (ele) {
                        var iframeele = ele.children[0];
                        iframeele.contentWindow.AfterCreateOrEditGroup();
                    }
                    window.parent.initialSelfGroupData && window.parent.initialSelfGroupData();
                    parent.layer.close(index);
                } else {
                    layer.msg("创建失败！" + result.msg, { time: 2000 });
                    layer.close(load);
                }
            });
        });
        $(document).on('click', '.icon-delte', function () {
            var uid = $(this).parent().attr('data-id');
            var index = $(this).parent().parent().parent().index();
            deleteMember(index);
            $(this).parent().parent().parent().remove();
            memberList = memberList.replace(uid + ';', '');
            if ($("#memberListUl>span").length <= 12) {
                $(".link03").remove();
            }
        });
    });
</script>